.sidebar{
  border-right: 0.3px solid #D7D6D0;
  flex:0.2;
  /* min-width: 250px; */
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}


.yct-logo {
  color: #039f4e;
  cursor: pointer;
  font-size: 40px;
  font-weight: 680;
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right:20px;
}
